$primary: #aafff1;
$secondary: #fa7cac;
form {
    margin-top: 50px;
    text-align: left;
}

.form-control{
    background-color: rgb(187, 187, 187);  
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: $primary;
    margin-top: 80px;
    padding-left: auto;
    width: 50%;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


