$primary: #aafff1;
$secondary: #fa7cac;
$black: #000;

.btn-info {
    margin-left: 10px;
    margin-top: 20px;
    background-color: $secondary;

}
.btn-addgoal {
    width: 200px;
    height: 35px;
}