$primary: #aafff1;
$secondary: #fa7cac;
$black: #000;

.card{
    width: '25rem';
    background-color: $primary;
    margin-top: 30px;
    
}

.btn-info {
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    background-color: $secondary;
    color: $black;
    
}