$primary: #aafff1;
$secondary: #fa7cac;
.card{
    width: '25rem';
    background-color: $primary;
    margin-top: 30px;
    
}

.btn-remover {
    width: 95%;
    background-color: $secondary;
    
}